.login_logo {
    margin: 50px auto;
    width: 50px;
}

.bad-input {
    border: red 2px solid;
}


.form-div {
    padding: 30px 10px;
    margin: auto;
    width: 400px;
}

form {
    margin: auto;
    padding: 10px;
}

form > input {
    display: block;
    border: 1px solid;
    margin: 5px;
    padding: 10px;
    border-radius: 10px
}

#authentication {
    width: 180px;
    margin: auto;
}

form > h2 {
    text-align: center;
}