/****************************/
/***** Header & General  *****/
/****************************/

#magnifier {
    display: none;
}

.comic-no-visible {
    display:none;
}

button, input[type="button"]{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform:uppercase;
    font-size:14px;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow:rgba(0, 0, 0, 0.30) 0 -1.25px 0;
    color:#fff;
    display:-moz-inline-stack;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    vertical-align:middle;
    vertical-align:auto;
    zoom:1;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid silver;
    padding:3px 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}


/** Button Style **/
.regularButton {
    cursor: pointer;
    background: #5a5b5f;
    -webkit-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    -moz-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

/** Active State Style **/
.regularButton:active {
    border-color:#5a5b5f;
    -webkit-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

.registerButton {
    cursor: pointer;
    background: #00cc66;
    -webkit-box-shadow: rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(102, 255, 179, 0.3) 0 1px 0;
    -moz-box-shadow:rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(102, 255, 179, 0.3) 0 1px 0;
    box-shadow:rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

/** Active State Style **/
.registerButton:active {
    -webkit-box-shadow:rgba(102, 255, 179, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow:rgba(102, 255, 179, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow:rgba(102, 255, 179, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

#add {
    float: left;
    margin: 27px 0 0 40px;
    z-index: 150;
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
#add:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}
#add:active {
    position:relative;
    top:1px;
}


.logo { /* display logo in center */

    display:block;
    max-width: 300px;
    margin: 0 auto;
    width: 90%;
}

.displayUser {
    float: right;
    margin-right: 40px;
}

.userName {
    font-size: 18px;
    margin: 12px 0 2px 0;
}
.displayUser input {
    margin: 12px 0 2px 0;
}

main {
    padding: 82px 0px 10px 0;
    width: 810px;
    margin: auto;
}

.banner {

    width: 100%;
    height: 50px;
    background-color: dimgray;
    margin-bottom: 20px;
}

#searchbar {
    float: right;
    margin: 10px 10px 0 0;
    width: 200px;
    border-radius: 5px;
}

/****************************/
/*****   homePage.PHP   *****/
/****************************/

article {
    width: 150px;
    padding: 20px 10px;
    float: left;
    font-size: 18px;
}

/****************************/
/***  Login & Register.PHP  ***/
/****************************/

#login-logo {
    margin: 70px auto 0px;
}

.bad-input {
    border: red 2px solid;
}


#authentication > h2 {
    font-weight: 500;
    font-size: 30px;
    margin: -15px 0px 40px;
}


.form-div {
    padding: 30px 10px;
    margin: auto;
    width: 400px;
}


#authentication > .input_login {
    display: block;
    border: 1px solid;
    width: 100%;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
}

#authentication > span {
    height: 16px;
    line-height: 16px;
    width: 133px;
    margin: 30px auto;
}

.form-submit-button {
    margin: 10px auto;
    padding: 5px 20px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #5a5b5f;
    border: 1px solid silver;
    border-radius: 10px;
    text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;
    display: block;
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

/** Active State Style **/
#authentication > .form-submit-button:active {
    border-color: #5a5b5f;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

#authentication {
    width: 200px;
    margin: auto;
    padding: 10px;
}

form > h2 {
    text-align: center;
}


#login_links {
    margin-top: 20px;
}

#login_links > a {
    display: block;
    margin: 10px auto;
    width: 200px;
   
}


/****************************/
/***   book & profile.PHP    ***/
/****************************/


/****   comic meta & profile info ****/

#book_cover, #avatar {
    padding: 20px;
    width: 250px;
    border: solid black 2px;
    display: inline-block;
}

#avatar > label > img {
    max-height: 250px;
    width: 250px;
}

#book_meta, #user_info {
    line-height: 1.6em;
    width: 476px;
    float: right;
    padding: 20px;
}

#user_info > p {
    line-height: 2em;
    font-size: 18px;
}

#user_info > p > input {
    float: right;
    padding-right: 180px;
    width: 170px;
    font-size: 18px;
    border: none;
    background-color: #616161;
    color: rgb(189, 186, 172);
}

#synopsis {
    padding-top: 30px;
    line-height: 1.4em;
}

#unsubscribe {
    margin: 30px;
}


/****   New Volume & Chapter Form  ****/

#add_new {
    border-top: solid #414141 2px;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0px 0px 0px;

}

#add_volume, #add_chapter {
    font-weight: 500;
    font-size: 18px;
    margin: 5px 20px 0px 20px;
    cursor: pointer;
}

#add_chapter {

}

#new_volume_form {
    display: none;
    padding: 20px;
}

#new_volume_form > p {
    margin: 5px 0px;
}


/****   Chapters & Volumes  ****/

#chapters_header {
    background: linear-gradient(to right, rgb(102,102,102) 10%, rgb(61,61,61) 100%);
    margin: 30px 0;
    height: 25px;
    line-height: 25px;
    width: 810px;
    /*border: solid rgb(94, 94, 94) 1px;*/
    font-size: 20px;
    font-weight: 500;
}

.volume {
    font-weight: 500;
}

.volume_synopsis {
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.volume_release, .chapter_release {
    font-weight: normal;
    float: right;
}

ul {
    list-style: none;
}

/****************************/
/*****      reader.PHP      *****/
/****************************/

.reader {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.bubble {
    margin: auto;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.bubble_number {
    color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.strip_container {
    margin: auto;
    width: fit-content;
}

.comicstrip {
    max-height: 600px;
    max-width: 100%;
}

/****************************/
/****  designerHome.PHP  ****/
/****************************/

.banner > p {
    text-align: center;
    font-size: 28px;
    line-height: 50px;
    padding-left: 170px;
    font-weight: 500;
}

#new_icon {
    background-color: rgb(181, 173, 144);
    height: 225px;
    width: 150px;
}

#new_icon > img {
    height: 50px;
    width: 50px;
    position: relative;
    left: 50px;
    top: 87px;
    margin-left: auto;
}

/****************************/
/*****      profile.PHP      *****/
/****************************/

.banner > span {
    display: block;
    text-align: center;
    font-size: 28px;
    line-height: 50px;
    font-weight: 500;
}
