/*****************************************************************/
/*                             small devices < 640 px                                 */
/*****************************************************************/

/****************************/
/***** Header & General  *****/
/****************************/

header {
    width: 100%;
    height: 60px;
    background-color: rgb(41, 41, 41)
}

main {
    padding: 60px 0px 10px;
    width: 100%;
    margin: auto;
}


#add {
    float: left;
    margin: 15px 2% 0 15px;
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border:1px solid #d02718;
    display:inline-block;
    color:#ffffff;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    padding: 3px 7px 1px;
    text-shadow: 0px 1px 0px #810e05;
}

#add:active {
    position:relative;
    top:1px;
}

.logo { /* display logo in center */
    position: absolute;
    top: 5px;
    left: 20%;
    width: 50%;
}

.logo img {
    width: 100%;
    margin: auto;
    max-height: 70px;
    max-width: 200px;
    display: block;
}


#magnifier {
    margin: 15px 10px 10px;
    float: right;
    width: 28px;
    height: 28px;
    border:1px solid silver;
    background-color: #434343;
    border-radius: 7px;

}

input[type="button"]{
    font-size:10px;
    font-weight:bold;
    text-shadow:rgba(0, 0, 0, 0.30) 0 -1.25px 0;
    color:#fff;
    display:-moz-inline-stack;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    vertical-align:middle;
    border:1px solid silver;
    padding:3px 5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}

.displayUser {
    float: right;   
}

.smallLog {
    margin: 15px 15px 0 0px;
    width: 28px;
    height: 28px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    border:1px solid silver;
    display:inline-block;
}

.connected {
    background: #00cc66;
    -webkit-box-shadow: rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(102, 255, 179, 0.3) 0 1px 0;
    -moz-box-shadow:rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(102, 255, 179, 0.3) 0 1px 0;
    box-shadow:rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

.disconnected {
    background-color:#f24537;
    -webkit-box-shadow: rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(102, 255, 179, 0.3) 0 1px 0;
    -moz-box-shadow:rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(102, 255, 179, 0.3) 0 1px 0;
    box-shadow:rgba(102, 255, 179, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

#searchbar {
    display: none;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.banner > p, .banner > span {
    display: none;
}

#userTab {
    background-color: rgb(41, 41, 41);
    position: absolute;
    right: 0px;
    top: 60px;
    width: 120px;
    height: 60px;
    border-radius: 0px 0px 0px 10px;
    border-bottom: 1px solid rgb(81, 81, 81);
    border-left: 1px solid rgb(81, 81, 81);
    padding: 5px;
}

.userName {
    width: 100%;
}

/****************************/
/*****   homePage.PHP   *****/
/****************************/

article {
    width: 100px;
    padding: 20px 10px;
    float: left;
    font-size: 18px;
    margin: 0px 10px;
}

/****************************/
/*****       login.PHP       *****/
/****************************/

.form-div {
    width: 100vw;
    padding-top: 15%;
}

#authentication > h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-top: -15px;
}

.input_login {
    width: 80%;
    max-width: 200px;
    display: block;
    border: 1px solid;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

#authentication > label {
    width: 80%;
    max-width: 200px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

#authentication > span {
    height: 16px;
    line-height: 16px;
    width: 133px;
    margin: 30px auto;
}

#login-logo >  img {
    width: 320px;
    height: 212px;
    display: block;
    margin: auto;
    padding-right: 15px;
}

.loginButton {
    margin: 10px auto;
    padding: 5px 20px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #5a5b5f;
    border: 1px solid silver;
    border-radius: 10px;
    text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;
    display: block;
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

/** Active State Style **/
.loginButton:active {
    border-color: #5a5b5f;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

.bad-input {
    border: red 2px solid;
}

#login_links {
    margin-top: 20px;
}

#login_links > a {
    display: block;
    margin: 10px auto;
    width: 200px;
   
}

/****************************/
/****  designerHome.PHP  ****/
/****************************/

#new_icon {
    background-color: rgb(181, 173, 144);
    height: 150px;
    width: 100px;
}

#new_icon > img {
    height: 50px;
    width: 50px;
    position: relative;
    left: 25px;
    top: 50px;
    margin: auto;
}

/****************************/
/***   book & profile.PHP    ***/
/****************************/

/****   comic meta & profile info ****/

#book_cover, #avatar {
    margin: 20px 10px; 
    padding: 10px;
    width: 150px;
    border: solid black 2px;
    display: inline-block;
    float: left;
}

#book_meta, #user_info {
    line-height: 1.6em;
    width: 40%;
    float: left;
    padding: 10px 0px   ;
    margin-top: 10px;
}

#user_info > p {
    line-height: 2em;
    font-size: 18px;
}

#user_info > p > input {
    float: right;
    padding-right: 180px;
    width: 170px;
    font-size: 18px;
    border: none;
    background-color: #616161;
    color: rgb(189, 186, 172);
}

#synopsis {
    clear: both;
    max-width: 450px;
    padding: 10px 10px 20px 10px;
    margin: 0px 10px 10px;
    line-height: 1.4em;
    border-bottom: 1px solid silver;
}

/****   New Volume & Chapter Form  ****/

#add_new {
    /*border-top: solid #414141 2px;*/
    width: 100%;
    /*margin-top: 20px;*/
    padding: 10px 0px 0px;

}

#add_volume, #add_chapter {
    font-weight: 500;
    font-size: 18px;
    margin: 5px 10px 0px;
    cursor: pointer;
    display: block;
}

#new_volume_form {
    display: none;
    padding: 20px;
}

#new_volume_form > p {
    margin: 5px 0px;
}

/****   Chapters & Volumes  ****/

#chapters_header {
    background: linear-gradient(to right, rgb(102,102,102) 10%, rgb(61,61,61) 100%);
    margin: 30px 0;
    height: 25px;
    line-height: 25px;
    width: 100%;
    max-width: 450px;
    /*border: solid rgb(94, 94, 94) 1px;*/
    font-size: 20px;
    font-weight: 500;
}

.volume {
    font-weight: 500;
}

.volume_synopsis {
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.volume_release, .chapter_release {
    font-weight: normal;
    float: right;
    padding-right: 10px;
}

ul {
    list-style: none;
}